html,body{
    margin: 0;
    padding: 0;
    main > p:first-of-type, section, footer{
        padding: var(--grid-gap);
    }
}

html{
    font-family: var(--main-font);
    background-color: var(--webpage-bg-color);
    color: var(--fallback-text-color);
}

/*----------------------------------- NOISE --------------------------------------*/

body::after {
    content: '';
    z-index: 1000;
    position: fixed;
    inset: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
    pointer-events: none;
    opacity: .7;
}

/*----------------------------------- Font faces and bold styles etc. --------------------------------------*/
@layer font-loading{

    @font-face {
        font-family: 'InclusiveSans-Italic';
        src: url(/assets/fonts/variable/InclusiveSans-Italic-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'InclusiveSans';
        src: url(/assets/fonts/variable/InclusiveSans-VariableFont_wght.ttf);
    }

    :root {
        --main-font: 'InclusiveSans', sans-serif, Helvetica, Arial;
        --main-font-italic: 'InclusiveSans-Italic', sans-serif, Helvetica, Arial;
    }

}
/*----------------------------------- All colors from styleguide in Figma --------------------------------------*/
@layer colors{

    :root {
    /*----------------------------------- Main colors --------------------------------------*/

    --color-neutral-0: #FFFFFF; /* Pure White */
    --color-neutral-1000: #333333; /* Gray-ish */
    --color-neutral-2000: #000000; /* all-black */

    /* Neutral Color Scale (Pink) */

    --color-neutral-100: #D490EE; /* Lightest Accent */
    --color-neutral-200: #F565E9; /* Light Accent */
    --color-neutral-300: #BA4EE4; /* Medium Accent */

    /* Neutral Color Scale (Red-ish) */

    --color-neutral-400: #F22667; /* Medium-Dark Accent */
    --color-neutral-450: #F52614; /* Hard red accent */
    --color-neutral-500: #ED0E55; /* Brand/Dark Accent */
    --color-neutral-600: #D90D4E; /* Dark Accent */
    --color-neutral-700: #A40A3B; /* Darker Accent */

    /* Neutral Color Scale (Purple) */
    
    --color-neutral-800: #55116F; /* Very Dark Accent */
    --color-neutral-900: #2E093D; /* Darkest Accent */

    /*----------------------------------- Semantic Names --------------------------------------*/
    
    /* Background colors */
    --webpage-bg-color: var(--color-neutral-900);
    --button-bg-color: var(--color-neutral-100);

    /* Text colors */
    --fallback-text-color: var(--color-neutral-0);
    --time-text-color: var(--color-neutral-2000);

    /* Words in h1*/
    --word-the-color: var(--color-neutral-2000);
    --word-if-and-was-color: var(--color-neutral-2000);
    --word-you-color: var(--color-neutral-100);
    --word-you-color-variation-2: var(--color-neutral-450);
    --word-want-shadow-color: var(--color-neutral-600);

    /* background-per-block */
    --heading-block-1-color: var(--color-neutral-300);
    --heading-block-2-color: var(--color-neutral-900);
    --heading-block-3-color: var(--color-neutral-500);

    --block-4-color: var(--color-neutral-200);
    --block-5-color: var(--color-neutral-450);

    --destinction-block-p-color: var(--color-neutral-400);

    --time--block-background-color: var(--color-neutral-300);
    
    }

}

/*----------------------------------- Complete grid-layout for the website, with subgrids --------------------------------------*/
@layer grid{

    :root {
        --grid-columns: repeat(18, 1fr);
        --grid-gap: 1.25rem;
    }

    @media (min-width: 1024px) {

        :root {
            --grid-gap: 1.5rem;
        }

    }

    header, main, footer, aside{
        display: block;
    }

    @supports (grid-template-columns: subgrid) {
        
        body{
            display: grid;
            grid-template-columns: var(--grid-columns);
            gap: var(--grid-gap);
        }

        header, main, footer, aside {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            > *{
                grid-column: 1 / -1;
            }
        }
    }
    

}

/*----------------------------------- all animations --------------------------------------*/
@layer animations{

/*----------------------------------- all animation variables --------------------------------------*/
    :root{
        --cubic-bezier: cubic-bezier(.76,.24,0,1.19);

        --animation_duration_left_to_right: 500ms;
        --animation_duration_text_reveal: 800ms;
        --animation_text_bounce_out_duartion: 1500ms;

        --animation_slide_delay: 100ms;

        --secondary-text-shadow-color: var(--color-neutral-700);
        --tertiary-text-shadow-color: var(--color-neutral-600);
        --quaternary-text-shadow-color: var(--color-neutral-500);
        --quinary-text-shadow-color: var(--color-neutral-400);
    }

/*----------------------------------- all animation keyframes (animations themselves) --------------------------------------*/


/*--- ANIMATION ON TEXT (NEEDS TO BE TEXT SPECIFIC ELSE IT ALSO INTERACTS WITH THE ::BEFORE BOX, HENCE WHY THE TEXT-SHADOW AND TEXT-INDENT IS USED)---*/
    @keyframes animation_text_reveal_up_the {
        0% {
            text-shadow: 0 6.25rem 0 transparent; 
        }

        40% {
            text-shadow: 0 0 0 var(--word-the-color); 
        }

        80% {
            text-shadow: 0 0 0 var(--word-the-color); 
        }

        100% {
            text-shadow: 0 0 0 transparent; 
            -webkit-text-fill-color: var(--word-the-color);
        }
    }

    @keyframes animation_text_eccentric_you{
        0% {
            text-shadow: 0 0 0 transparent; 
            text-decoration-line: underline;
            text-decoration-thickness: 0%;
            text-underline-offset: -1rem;
            text-decoration-skip-ink: none;
        }

        40% {
            text-shadow: 0 0 0 var(--word-you-color); 
        }

        80% {
            text-shadow: 0 1.25rem 0 var(--color-neutral-800); 
        }

        100% {
            text-shadow: 0 0 0 transparent; 
            -webkit-text-fill-color: var(--word-you-color);

            text-decoration-line: underline;
            text-decoration-thickness: 20%;
            text-underline-offset: -0rem;
            text-decoration-skip-ink: none;
        }
    }

    @keyframes animation_text_eccentric_want{
        0% {
            text-shadow: 0 0 0 transparent; 
        }

        40% {
            text-shadow: 0 0 0 var(--word-want-color); 
        }

        80% {
            text-shadow: 0 1.25rem 0 var(--word-want-shadow-color); 
        }

        100% {
            text-shadow: 0rem -3vw 0rem var(--word-want-shadow-color); 
            -webkit-text-fill-color: var(--word-want-color);
        }
    }

    @keyframes animation_text_slide_in_left{
        from{
            margin-left: -200%;
        }
        to{
            margin-left: 0;
            -webkit-text-fill-color: inherit;
        }
    }

    @keyframes animation_text_slide_in_right{
        from{
            margin-right: 200%;
        }
        to{
            margin-left: 0;
        }
    }

    @keyframes animation_text_bounce_out {

        0%{
            text-shadow: 0 6.25rem 0 transparent; 
        }

        10%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color);
        }

        20%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color);
        }

        30%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color), 0.563rem 0.563rem var(--quaternary-text-shadow-color);
        }

        40%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color), 0.563rem 0.563rem var(--quaternary-text-shadow-color),
            4.688rem 4.688rem 0 var(--quinary-text-shadow-color);
        }

        50%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color), 0.563rem 0.563rem var(--quaternary-text-shadow-color),
            4.688rem 4.688rem 0 var(--quinary-text-shadow-color);
        }

        60%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color), 0.563rem 0.563rem var(--quaternary-text-shadow-color),
            4.688rem 4.688rem 0 var(--quinary-text-shadow-color);
        }

        70%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color), 0.563rem 0.563rem var(--quaternary-text-shadow-color);
        }

        80%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color),
            3.125rem 3.125rem 0 var(--tertiary-text-shadow-color);
        }

        90%{
            text-shadow: 1.563rem 1.563rem 0 var(--secondary-text-shadow-color);
        }

        100%{
            text-shadow: 0px -3vw 0px var(--word-want-shadow-color); 
            -webkit-text-fill-color: var(--word-want-color);
        }
    }

    @keyframes animation_left_to_right {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes animation_right_to_left {
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes animation_appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}