html,body{
    margin: 0;
    padding: 0;
    main,footer{
        padding: var(--grid-gap);
    }
}

html{
    font-family: var(--main-font);
    background-color: var(--webpage-bg-color);
    color: var(--fallback-text-color);
}



/*----------------------------------- Font faces and bold styles etc. --------------------------------------*/
@layer font-loading{

    @font-face {
        font-family: 'InclusiveSans-Italic';
        src: url(/assets/fonts/variable/InclusiveSans-Italic-VariableFont_wght.ttf);
    }

    @font-face {
        font-family: 'InclusiveSans';
        src: url(/assets/fonts/variable/InclusiveSans-VariableFont_wght.ttf);
    }

    :root {
        --main-font: 'InclusiveSans', sans-serif, Helvetica, Arial;
        --main-font-italic: 'InclusiveSans-Italic', sans-serif, Helvetica, Arial;
    }

}
/*----------------------------------- All colors from styleguide in Figma --------------------------------------*/
@layer colors{

    :root {
    /*----------------------------------- Main colors --------------------------------------*/

    --color-neutral-0: #FFFFFF; /* Pure White */
    --color-neutral-1000: #333333; /* Gray-ish */
    --color-neutral-2000: #000000; /* all-black */

    /* Neutral Color Scale (Pink) */

    --color-neutral-100: #D490EE; /* Lightest Accent */
    --color-neutral-200: #F565E9; /* Light Accent */
    --color-neutral-300: #BA4EE4; /* Medium Accent */

    /* Neutral Color Scale (Red-ish) */

    --color-neutral-400: #F22667; /* Medium-Dark Accent */
    --color-neutral-500: #ED0E55; /* Brand/Dark Accent */
    --color-neutral-600: #D90D4E; /* Dark Accent */
    --color-neutral-700: #A40A3B; /* Darker Accent */

    /* Neutral Color Scale (Purple) */
    
    --color-neutral-800: #55116F; /* Very Dark Accent */
    --color-neutral-900: #2E093D; /* Darkest Accent */

    /*----------------------------------- Semantic Names --------------------------------------*/
    
    /* Background colors */
    --webpage-bg-color: var(--color-neutral-1000);

    /* Text colors */
    --fallback-text-color: var(--color-neutral-0);

    /* Words in h1*/
    --word-the-color: var(--color-neutral-2000);
    --word-you-color: var(--color-neutral-100);
    --word-want-shadow-color: var(--color-neutral-600);

    /* background-per-block */
    --heading-block-1-color: var(--color-neutral-300);
    --heading-block-2-color: var(--color-neutral-900);
    --heading-block-3-color: var(--color-neutral-500);
    
    }

}

/*----------------------------------- Complete grid-layout for the website, with subgrids --------------------------------------*/
@layer grid{

    :root {
       	--grid-columns: repeat(6, 1fr);
        --grid-gap: 1.25rem;
    }

    @media (min-width: 1024px) {

        :root {
            --grid-columns: repeat(18, 1fr);
            --grid-gap: 1.5rem;
        }

    }

    body{
        display: grid;
        grid-template-columns: var(--grid-columns);
        gap: var(--grid-gap);
    }

    header, main, footer, aside{
        display: block;
    }

    @supports (grid-template-columns: subgrid) {
        header, main, footer, aside {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            > *{
                grid-column: 1 / -1;
            }
        }
    }
    

}
