:root{
    --heading-height: 33.24rem;

    --base-font-size: clamp(8.125rem, 20.536vw, 22.5rem);
    --you-font-size: clamp(9.125rem, 24.107vw, 25rem);
    --want-font-size: clamp(6.75rem, 17.143vw, 18.75rem);

    --h2-important-font-size: clamp(8.125rem, 20.536vw, 18.75rem);
    --was-font-size: clamp(9.375rem, 28.694vw, 40.25rem);

    --paragraph-font-size: clamp(1.5rem, 3.528vw, 5rem);
    --h2-font-size: clamp(2.5rem, 6.318vw, 6rem);
}
/*----------------------------------- All header styling --------------------------------------*/

@layer header{

    header{

/*----------------------------------- H1 Styling (No bg-boxes just text and font-sizing) --------------------------------------*/
        h1{
            overflow: clip;
            margin: 0;
            padding: 0 var(--grid-gap);
            font-size: var(--base-font-size);
            position: relative;

            /*--- ALL WORDS ---*/
            span {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;

            }

                @media (min-width: 768px) {
                    span:first-child,
                    span:nth-child(2) {
                        display: inline-block;
                        grid-template-columns: none;
                        width: auto;
                        grid-column: auto;
                    }
                }

        /*----------------------------------- *THE* --------------------------------------*/

            span:first-child{
                text-transform: lowercase;
                color: var(--word-the-color);
                position: relative;
                z-index: -2;
                
                /*----------------------------------- ANIMATION --------------------------------------*/
                -webkit-text-fill-color: transparent;
                animation: animation_text_reveal_up_the  var(--animation_duration_text_reveal) var(--cubic-bezier) forwards;
                animation-delay: var(--animation_duration_left_to_right);
                animation-delay: calc(var(--animation_duration_left_to_right) * 1.3);
            }
            
        /*----------------------------------- *WEB* --------------------------------------*/

            span:nth-child(2){
                text-transform: capitalize;
                text-align: left;
                transform: translatex(0.625rem) translatey(-18vw) rotate(-16deg);
                
                /*----------------------------------- ANIMATION --------------------------------------*/
                -webkit-text-fill-color: transparent;
                animation: animation_text_slide_in_left  var(--animation_duration_text_reveal) var(--cubic-bezier) forwards;
                animation-delay: calc(var(--animation_duration_left_to_right) * 1.6);
                
                @media (min-width: 768px) {
                    transform: translatex(0rem) translatey(3.2vw) rotate(0deg);
                }
            }

        /*----------------------------------- *YOU* --------------------------------------*/

            span:nth-child(3){
                z-index: 5;
                font-size: var(--you-font-size);
                color: var(--word-you-color);
                text-align: center;
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
                transform: translatey(-7rem);

                /*----------------------------------- ANIMATION --------------------------------------*/
                animation: animation_text_eccentric_you  var(--animation_duration_text_reveal) ease-in-out forwards;
                animation-delay: calc(var(--animation_duration_left_to_right) * 3);
            }

        /*----------------------------------- *WANT* --------------------------------------*/

            span:last-child{
                font-size: var(--want-font-size);
                text-align: left;
                text-transform: capitalize;
                transform: translatey(-10.8rem);


                /*----------------------------------- ANIMATION --------------------------------------*/
                -webkit-text-fill-color: transparent;
                animation: animation_text_eccentric_want  var(--animation_duration_text_reveal) var(--cubic-bezier) forwards,
                 var(--animation_duration_text_reveal) var(--cubic-bezier) forwards,
                animation_text_bounce_out var(--animation_text_bounce_out_duartion) ease-in-out forwards;
                animation-delay: calc(var(--animation_duration_left_to_right) * 3.7);

                @media (min-width: 768px) {
                    text-align: center;
                }
            }

    /*----------------------------------- Background box styling --------------------------------------*/

            span::before,::after{
                position: absolute;
                content: "";
                width: 200vw;
            }
            
        /*----------------------------------- BOX 1 --------------------------------------*/

            span:first-child::before{
                left: -5rem;
                z-index: -1;
                height: calc(var(--base-font-size) * 5);  /* Calc based on font-size, determines the background box sizing */
                background-color: var(--heading-block-1-color);

                /*----------------------------------- ANIMATION --------------------------------------*/
                animation: animation_left_to_right var(--animation_duration_left_to_right) ease-out forwards,         
                animation_appear 0.01s linear forwards;
            }

        /*----------------------------------- BOX 2 --------------------------------------*/

            span:first-child::after{
                opacity: 0;
                top: calc(var(--base-font-size) * .9);
                height: calc(var(--base-font-size) * 4);
                z-index: 1;
                left: -5rem;
                background-color: var(--heading-block-2-color);

                /*----------------------------------- ANIMATION --------------------------------------*/
                animation: animation_right_to_left var(--animation_duration_left_to_right) ease-out forwards,         
                animation_appear 0.01s linear forwards;
                animation-delay: var(--animation_slide_delay);
            }

        /*----------------------------------- BOX 3 --------------------------------------*/
    
            span:nth-child(3)::after{
                opacity: 0;
                top: calc(var(--you-font-size) * 1);
                height: calc(var(--you-font-size) * 2);
                left: -5rem;
                z-index: -1;
                background-color: var(--heading-block-3-color);

                /*----------------------------------- ANIMATION --------------------------------------*/
                animation: animation_left_to_right var(--animation_duration_left_to_right) ease-out forwards,         
                animation_appear 0.01s linear forwards;
                animation-delay: calc(var(--animation_slide_delay) * 4.5);
            }

        }

        /*----------------------------------- Paragraph Inside heading styling --------------------------------------*/

        p:first-of-type{
            font-style: italic;
            font-weight: normal;
            z-index: 1;
            margin: -1.05rem 0 0 0;
            padding: 0 var(--grid-gap); 
            

            @media (min-width: 768px) {
                margin: -3rem 0 0 0;
            }

        }
        
        p > time{
            color: var(--time-text-color);
            background-color: var(--time--block-background-color);
        }

        /*----------------------------------- 'Get tickets!'Button --------------------------------------*/

        a{
            background-color: var(--button-bg-color);
            text-decoration: none;
            color: var(--fallback-text-color);
            padding: 1rem .5rem 1rem .5rem;
            margin: var(--grid-gap);
            width: 5rem;
            height: 2rem;
        }

    }

}

/*----------------------------------- All main styling --------------------------------------*/

@layer main-content{

    main{

        h2{
            font-size: var(--h2-font-size);
            position: relative;
            overflow: clip;
            margin: 0;
            padding: 0 var(--grid-gap);

            /*--- ALL WORDS ---*/
            span{
                font-size: var(--h2-important-font-size);
            }

            span:first-child, span:nth-child(2), span:nth-child(4), span:last-child {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;

            }

        /*----------------------------------- *IF* --------------------------------------*/

            span:first-child{
                margin-top: calc(var(--h2-important-font-size) * -.144);
                color: var(--word-if-and-was-color);
                position: relative;
                z-index: -2;
            }

        /*----------------------------------- *IT* --------------------------------------*/

            span:nth-child(2){
                margin-top: calc(var(--h2-important-font-size) * -.308);
                padding-left: calc(var(--grid-gap) * 2.3);
                position: relative;

                @media (min-width: 1340px) {
                    margin-top: calc(var(--h2-important-font-size) * -.368);
                    padding-left: 10vw;
                }

            }

        /*----------------------------------- *WAS* --------------------------------------*/

            span:nth-child(3){
                font-size: var(--was-font-size);
                color: var(--word-if-and-was-color);
                position: absolute;
                writing-mode: vertical-rl;
                text-orientation: sideways-right;
                right: 0;
                top: calc(var(--h2-font-size) * 2 );

                @media (min-width: 600px) {
                    right: calc(var(--grid-gap) * 5);
                    writing-mode: horizontal-tb;
                }
            }

         /*----------------------------------- *UP TO* --------------------------------------*/

            span:nth-child(4){
                margin-top: 3rem;
            }

            span:nth-child(4), span:last-child{
                text-transform: uppercase;
                text-align: center;
            }
            
         /*----------------------------------- *YOU* --------------------------------------*/

            span:last-child{
                text-transform: uppercase;
                text-align: center;
                font-size: var(--you-font-size);
                font-weight: lighter;
                margin-top: -4rem;

                -webkit-text-fill-color: var(--word-you-color-variation-2);

                text-decoration-line: underline;
                text-decoration-thickness: 20%;
                text-underline-offset: -0rem;
                text-decoration-skip-ink: none;

            }


        /*----------------------------------- Background box styling --------------------------------------*/

            span::before,::after{
                position: absolute;
                content: "";
                width: 200vw;
            }
            
            /*----------------------------------- BOX 1 (BEHIND IF) --------------------------------------*/

            span:first-child::before{
                left: -5rem;
                z-index: -3;
                height: calc(var(--h2-important-font-size) * .9);  /* Calc based on font-size, determines the background box sizing */
                max-height: 15.6rem;
                background-color: var(--block-4-color);
            }

            /*----------------------------------- BOX 2 (BEHIND IT) --------------------------------------*/

            span:nth-child(2)::before{
                z-index: -2;
                height: calc(var(--h2-important-font-size) * 1);
                background-color: var(--block-5-color);
            }

            /*----------------------------------- BOX 3 (AFTER IT) --------------------------------------*/

            span:nth-child(2)::after{
                margin-left: calc(var(--grid-gap) * 3);
                top: calc(var(--h2-important-font-size) * 1);
                z-index: -1;
                height: calc(var(--h2-important-font-size) * .7);
                background-color: var(--heading-block-3-color);

          
            }

        }
    }
}

p{
    font-size: var(--paragraph-font-size);
}

