:root{
    --heading-height: 33.24rem;
    /* Add these new variables */
    --base-font-size: clamp(8.125rem, 20.536vw, 22.5rem);
    --you-font-size: clamp(9.125rem, 24.107vw, 25rem);
    --want-font-size: clamp(6.75rem, 17.143vw, 18.75rem);
}
/*----------------------------------- All header styling --------------------------------------*/

@layer header{

    header{

/*----------------------------------- H1 Styling (No bg-boxes just text and font-sizing) --------------------------------------*/
        h1{
            overflow: clip;
            margin: 0;
            padding: 0 var(--grid-gap);
            font-size: var(--base-font-size);
            position: relative;

            /*--- ALL WORDS ---*/
            & > span {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;
            }

                @media (min-width: 768px) {
                    & > span:first-child,
                    & > span:nth-child(2) {
                        display: inline-block;
                        grid-template-columns: none;
                        width: auto;
                        grid-column: auto;
                    }
                }

            /*--- THE ---*/
            span:first-child{
                color: var(--word-the-color);
                position: relative;
                z-index: -2;
            }
            
            /*--- WEB ---*/
            span:nth-child(2){
                text-align: left;
                transform: translatex(10px) translatey(-18vw) rotate(-16deg);
                @media (min-width: 768px) {
                    transform: none;
                }
            }

            /*--- YOU ---*/
            span:nth-child(3){
                z-index: 5;
                font-size: var(--you-font-size);
                color: var(--word-you-color);
                text-align: center;
                transform: translatey(-7rem);

                text-decoration-line: underline;
                text-decoration-thickness: 20%;
                text-underline-offset: -0rem;
                text-decoration-skip-ink: none;

            }

            /*--- WANT ---*/
            span:last-child{
                font-size: var(--want-font-size);
                text-shadow: 0px -3vw 0px var(--word-want-shadow-color);
                text-align: left;
                transform: translatey(-10.8rem);
                @media (min-width: 768px) {
                    text-align: center;
                }
            }

    /*----------------------------------- background box styling --------------------------------------*/
            span::before,::after{
                position: absolute;
                content: "";
                width: 200vw;
            }

            span:first-child::before{
                left: -5rem;
                z-index: -1;
                height: calc(var(--base-font-size) * 2);  /* Calc based on font-size, determines the background box sizing */
                background-color: var(--heading-block-1-color);
            }

            span:first-child::after{
                top: calc(var(--base-font-size) * .9);
                height: calc(var(--base-font-size) * 3);
                z-index: 1;
                left: -5rem;
                background-color: var(--heading-block-2-color);
            }

            span:nth-child(3)::after{
                top: calc(var(--you-font-size) * 1);
                height: calc(var(--you-font-size) * 2);
                left: -5rem;
                z-index: -1;
                background-color: var(--heading-block-3-color);
            }


        }

        p{
            z-index: 1;
            margin: -.7rem 0 0 0;
            padding: 0 var(--grid-gap); 
        }

    }
}